Source: ros-kinetic-wifi-ddwrt
Section: misc
Priority: extra
Maintainer: Austin Hendrix <ahendrix@willowgarage.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-message-generation, ros-kinetic-std-msgs
Homepage: http://ros.org/wiki/wifi_ddwrt
Standards-Version: 3.9.2

Package: ros-kinetic-wifi-ddwrt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-mechanize, ros-kinetic-geometry-msgs, ros-kinetic-message-runtime, ros-kinetic-nav-msgs, ros-kinetic-pr2-msgs, ros-kinetic-rospy, ros-kinetic-std-msgs, ros-kinetic-tf, ros-kinetic-visualization-msgs
Description: Access to the DD-WRT wifi
