Source: ros-lunar-wifi-ddwrt
Section: misc
Priority: extra
Maintainer: Austin Hendrix <ahendrix@willowgarage.com>
Build-Depends: debhelper (>= 9.0.0), ros-lunar-catkin, ros-lunar-message-generation, ros-lunar-std-msgs
Homepage: http://ros.org/wiki/wifi_ddwrt
Standards-Version: 3.9.2

Package: ros-lunar-wifi-ddwrt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-mechanize, ros-lunar-geometry-msgs, ros-lunar-message-runtime, ros-lunar-nav-msgs, ros-lunar-pr2-msgs, ros-lunar-rospy, ros-lunar-std-msgs, ros-lunar-tf, ros-lunar-visualization-msgs
Description: Access to the DD-WRT wifi
